<div class="container my-5">
  <h1 class="mb-3">Users2</h1>

  <table class="table" *ngIf="users.length > 0">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{ user.first_name }}</th>
        <th>{{ user.last_name }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.age }}</th>
        <th>{{ user.gender }}</th>
        <th>
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/user', 'edit', user.id]"
          >
            Edit
          </button>
        </th>
      </tr>
    </tbody>
  </table>
  <p *ngIf="users.length <= 0">List is empty</p>
</div>
