<div class="container" my-5>
  <h1 class="mb-3">Create new user</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addUser()">
        <div class="mb-3">
          <label for="first_name" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            [(ngModel)]="addUserRequerst.first_name"
          />
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            [(ngModel)]="addUserRequerst.last_name"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="addUserRequerst.email"
          />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            [(ngModel)]="addUserRequerst.age"
          />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <input
            type="text"
            class="form-control"
            id="gender"
            name="gender"
            [(ngModel)]="addUserRequerst.gender"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
