<div class="container my-5">
  <h1 class="mb-3">Edit user</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateUser()">
        <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            readonly
            [(ngModel)]="user.id"
          />
          <label for="first_name" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            [(ngModel)]="user.first_name"
          />
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            [(ngModel)]="user.last_name"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="user.email"
          />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            [(ngModel)]="user.age"
          />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <input
            type="text"
            class="form-control"
            id="gender"
            name="gender"
            [(ngModel)]="user.gender"
          />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button
          type="button"
          class="btn btn-danger m-3"
          (click)="deleteUser(user.id)"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
